---
title: On-Demand Service Architecture
owner: London Services
---
<div class="quick-links">
    <ul>
        <li><a href="#service-network">Service Network Requirement</a></li>
        <li><a href="#architecture_networks">Default Network and Service Network</a></li>
        <li><a href="#network-rules">Required Networking Rules for On-Demand Services</a></li>
    </ul>
</div>

