---
breadcrumb: VMware Tanzu RabbitMQ for VMs Documentation
title: Changing Network or IP Addresses Results in a Failed Deployment
owner: London Services
---


<%= vars.product_full %> requires that the IP addresses assigned to a `RabbitMQ Server` job do not change once assigned. If these IP addresses change, the deployment fails. This applies when changing the IP configuration in the current deployment or during an upgrade.

## <a id="scenarios"></a> Scenarios that Result in an IP Address Change

The following actions result in a new IP address being assigned to the `RabbitMQ Server` job. Therefore, taking these actions results in a failed deployment:

* Selecting a different `Network` or `Service Network` in the <%= vars.product_short %> tile's `Assign AZs and Networks` page
* Changing the `Network` or `Service Network` definition such that the existing IP addresses are no longer
part of that network

## <a id="diagnose"></a> Diagnose a Failed Deployment

When a deployment fails, check the <%= vars.ops_manager %> Change log, in the section under `Detecting deployment changes`. If you see that the changes include IP addresses, then it is likely that the IP addresses assigned to the `RabbitMQ Server` job have changed, causing the failed deployment. Here is an example of similar messages from this section of the log:

```
  networks:
  - name: ert-subnet
    subnets:
    - range: 10.16.64.0/22
      reserved:
+     - 10.16.64.62-10.16.64.65
+     - 10.16.64.182-10.16.64.196
-     - 10.16.64.120
-     - 10.16.64.185-10.16.64.196
      static:
+     - 10.16.64.120
-     - 10.16.64.62
-     - 10.16.64.63
-     - 10.16.64.64
-     - 10.16.64.65
```


## <a id="recover"></a> Recover from a Failed Deployment

Contact Support if you have changed the IP address of a node.
