---
breadcrumb: VMware Tanzu RabbitMQ for VMs Documentation
title: Production Checklist for VMware Tanzu RabbitMQ for VMs
owner: London Services
---

## <a id="checklist"></a>Production Check List
There are a number of things which it is important to setup and configure when deploying the <%= vars.product_full %> tile into production.

1. Only deploy with an odd number of nodes when using a [partition healing](https://www.rabbitmq.com/partitions.html) strategy of 'pause minority'
2. Ensure that you have a least two HAProxy nodes deployed so that applications can fail over during rolling updates
3. Ensure that the persistent disk of the RabbitMQ server nodes is at least twice as large as the instance memory
4. Configure syslog forwarding and investigate logs with `** ERROR **` from RabbitMQ
5. Setup and monitor metrics from the <%= vars.app_runtime_full %> Firehose. See KPIs for details about what is key.
