---
title: Troubleshooting and FAQs for <br>On-Demand VMware Tanzu RabbitMQ for VMs
owner: London Services Enablement
---

This topic provides operators with basic troubleshooting techniques and FAQs for
on-demand <%= vars.product_full %>.

## <a id="guid"></a> How to Retrieve a Service Instance GUID

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/retrieve-guid' %>

## <a id="errors"></a> Troubleshoot Errors

Start here if you are responding to a specific error or error messages.

### <a id="x-product"></a> Common Services Errors

The following errors occur in multiple services:

testing partials 


<%= partial vars.path_to_partials + '/troubleshoot-example' %>
